.large-content ol + h5,
.large-content ul + h5,
.large-content p + h5 {
  margin-top: 2.2068em;
}

.is--blog ol + h5,
.is--blog ul + h5,
.is--blog p + h5,
.is--blog ol + h3,
.is--blog ul + h3,
.is--blog p + h3 {
  margin-top: 2.2068em;
}

.is--blog ol + h4,
.is--blog ul + h4,
.is--blog p + h4,
.is--blog ol + h2,
.is--blog ul + h2,
.is--blog p + h2 {
  margin-top: 1.52380952em;
}

.w-richtext figure.w-richtext-align-center {
  margin-left: 33.75em !important;
  margin-right: 0;
  max-width: 100%;
}

.w-richtext-align-floatleft {
  margin-right: 1.04em !important;
  max-width: 48.7862% !important;
}

.w-richtext-align-floatright {
  margin-left: 1.04em !important;
  max-width: 48.7862% !important;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table {
  display: block !important;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 78ch;
  margin-bottom: 0;
  font-size: 1.09em;
  line-height: 1.523;
  letter-spacing: 0;
  border: none;
}

table th {
  text-align: center !important;
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
}

table th,
table td {
  padding: 10px 15px;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}

@media (max-width: 1023px) {
  .large-content ol + h5,
  .large-content ul + h5,
  .large-content p + h5 {
    margin-top: 3.2em;
  }

  .is--blog ol + h5,
  .is--blog ul + h5,
  .is--blog p + h5,
  .is--blog ol + h3,
  .is--blog ul + h3,
  .is--blog p + h3 {
    margin-top: 3.2em;
  }

  .is--blog ol + h4,
  .is--blog ul + h4,
  .is--blog p + h4,
  .is--blog ol + h2,
  .is--blog ul + h2,
  .is--blog p + h2 {
    margin-top: 2.66666667em;
  }

  .w-richtext figure.w-richtext-align-center {
    margin-left: 23.96em !important;
    margin-right: 0;
  }

  .w-richtext-align-floatleft {
    margin-right: 2.08em !important;
    max-width: 47.7272% !important;
  }

  .w-richtext-align-floatright {
    margin-left: 2.08em !important;
    max-width: 47.7272% !important;
  }
}

@media (max-width: 767px) {
  .large-content ol + h5,
  .large-content ul + h5,
  .large-content p + h5 {
    margin-top: 1.7777em;
  }

  .is--blog ol + h5,
  .is--blog ul + h5,
  .is--blog p + h5,
  .is--blog ol + h3,
  .is--blog ul + h3,
  .is--blog p + h3 {
    margin-top: 1.7777em;
  }

  .is--blog ol + h4,
  .is--blog ul + h4,
  .is--blog p + h4,
  .is--blog ol + h2,
  .is--blog ul + h2,
  .is--blog p + h2 {
    margin-top: 1.6em;
  }

  .w-richtext figure.w-richtext-align-center {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .w-richtext-align-floatleft {
    margin-right: 0 !important;
    max-width: 100% !important;
  }

  .w-richtext-align-floatright {
    margin-left: 0 !important;
    max-width: 100% !important;
  }

  .w-richtext-align-floatright + .w-richtext-align-floatleft {
    margin-top: 0 !important;
  }
}
